pipeline/PL_ingestionFromAPI.json
{
	"name": "PL_ingestionFromAPI",
	"properties": {
		"activities": [
			{
				"name": "CP_DS_REST_To_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['gas_day']"
								},
								"sink": {
									"name": "Journée gazière",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['color']"
								},
								"sink": {
									"name": "Couleur du signal (ENG)",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['couleur_du_signal_fr']"
								},
								"sink": {
									"name": "Couleur du signal (FR)",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['indice_de_couleur']"
								},
								"sink": {
									"name": "Indice de couleur",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['results']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_REST_APIEcogaz",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_DATA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set BaseURL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_BaseUrl",
					"value": {
						"value": "@pipeline().globalParameters.BaseURL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Tableau",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Tableau",
					"value": [
						1,
						2,
						3,
						4,
						5
					]
				}
			},
			{
				"name": "Append newItem",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set Tableau",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Tableau",
					"value": {
						"value": "{\n    \"pipeline\": \"@{pipeline().Pipeline}\",\n    \"ADF\": \"@{pipeline().DataFactory}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set tableau final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append newItem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableauFinal",
					"value": {
						"value": "@variables('Tableau')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_BaseURL": {
				"type": "string"
			}
		},
		"variables": {
			"v_BaseUrl": {
				"type": "String"
			},
			"Tableau": {
				"type": "Array"
			},
			"Tableau_Final": {
				"type": "Array"
			},
			"TableauFinal": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}